//checkbox --  skin-3
//==============================================
//var
//==============================================
@checkboxSkin3BgColor: #fff;
@checkboxSkin3BdColor: darken(@checkboxSkin3BgColor,18.5%);
@checkboxSkin3CheckedBdColor: #7ebdcc;
@checkboxSkin3DisabledBdColor: darken(@checkboxSkin3BgColor,8%);

@checkboxSkin3Size: 18px;
//==============================================
.asCheck_checkbox.asCheck_skin-3 {
	position: relative;
	display: inline-block;
	width: @checkboxSkin3Size;
	height: @checkboxSkin3Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: @checkboxSkin3BgColor;
	background-image: url("../img/check-radio.png");
	background-position: 18px 0;
	border: 2px solid @checkboxSkin3BdColor;
	cursor: pointer;
	.border-radius (3px);
	&:hover {
		border-color: @checkboxSkin3CheckedBdColor;
	}
	&.asCheck_checked {
		background-position: -9px -78px;
		border-color: @checkboxSkin3CheckedBdColor;
	}
	&.asCheck_disabled {
		border-color: @checkboxSkin3DisabledBdColor;
		cursor: default;
	}
	&.asCheck_disabled.asCheck_checked {
		background-position: -49px -78px;
		border-color: @checkboxSkin3DisabledBdColor;
		cursor: default;
	}
}
//==============================================