//checkbox --  skin-5
//==============================================
//var
//==============================================
@checkboxSkin5Size: 24px;
//==============================================
.asCheck_checkbox.check_skin-5 {
	position: relative;
	display: inline-block;
	width: @checkboxSkin5Size;
	height: @checkboxSkin5Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: #fff;
	background-image: url("../img/check-radio.png");
	background-position: -9px -246px;
	cursor: pointer;
	&.asCheck_checked {
		background-position: -46px -246px;
	}
	&.asCheck_disabled {
		background-position: -86px -245px;
		cursor: default;
	}
	&.asCheck_disabled.asCheck_checked {
		background-position: -127px -247px;
		cursor: default;
	}
}
//==============================================