
//checkbox --  skin-2
//==============================================
//var
//==============================================
@checkboxSkin2BgColor: #fff;
@checkboxSkin2BdColor: #d9d9d9;
@checkboxSkin2HoverBdColor: #7ebfee;
@checkboxSkin2BoxShadowColor: lighten(@checkboxSkin2BgColor,100%);
@checkboxSkin2BoxShadowInsetColor: darken(@checkboxSkin2BgColor,100%);
@checkboxSkin2HoverBoxShadowInsetColor: darken(@checkboxSkin2HoverBdColor,3.3%);
@checkboxSkin2DisabledBgColor: darken(@checkboxSkin2BgColor,3.7%);
@checkboxSkin2DisabledBdColor: darken(@checkboxSkin2BgColor,8%);

@checkboxSkin2Size: 14px;
//==============================================
.asCheck_checkbox.asCheck_skin-2 {
	position: relative;
	display: inline-block;
	width: @checkboxSkin2Size;
	height: @checkboxSkin2Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: @checkboxSkin2BgColor;
	background-image: url("../img/check-radio.png");
	background-position: 14px 0;
	border: 1px solid @checkboxSkin2BdColor;
	cursor: pointer;
	.border-radius (3px);
	.box-shadow-bothWay (0,1px,1px,0,fade(@checkboxSkin2BgColor,10%),0,1px,1px,0,fade(@checkboxSkin2BoxShadowInsetColor,10%));
	&:hover {
		border-color: @checkboxSkin2HoverBdColor;
		.box-shadow-bothWay (0,1px,8px,0,fade(@checkboxSkin2HoverBoxShadowInsetColor,30%),0,1px,1px,0,fade(@checkboxSkin2BoxShadowInsetColor,10%));
	}
	&.asCheck_checked {
		.box-shadow (1px,1px,0,0,@checkboxSkin2BoxShadowColor);
		background-position: -11px -51px;
		&:hover {
			border-color: @checkboxSkin2BdColor;
		}
	}
	&.asCheck_disabled {
		background-color: @checkboxSkin2DisabledBgColor;
		border-color: @checkboxSkin2DisabledBdColor;
		cursor: default;
		.box-shadow (1px,1px,0,0,@checkboxSkin2BoxShadowColor);
	}
	&.asCheck_disabled.asCheck_checked {
		background-color: @checkboxSkin2DisabledBgColor;
		background-position: -51px -51px;
		border-color: @checkboxSkin2DisabledBdColor;
		cursor: default;
		.box-shadow (1px,1px,0,0,@checkboxSkin2BoxShadowColor);
	}
}
//==============================================