
//radio--  skin-1
//==============================================
//var
//==============================================
@radioSkin1BgColor: #ddd;
@radioSkin1CheckedBgColor: lighten(@radioSkin1BgColor,100%);
@radioSkin1CheckedBdColor: #27acd8;
@radioSkin1DisabledBgColor: lighten(@radioSkin1BgColor,6.8%);

@radioSkin1Size: 22px;
//==============================================
.check-box.type-radio.skin-1 {
	display: inline-block;
	width: @radioSkin1Size;
	height: @radioSkin1Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: @radioSkin1BgColor;
	background-image: url("../image/check-radio.png");
	background-position: 22px 0;
	cursor: pointer;
	.border-radius (23px);
	&:hover {
		background-color: @radioSkin1CheckedBgColor;
		background-position: -128px -11px;
	}
	&.check_checked {
		background-color: @radioSkin1CheckedBgColor;
		background-position: -162px -11px;
	}
	&.check_disabled {
		background-color: @radioSkin1DisabledBgColor;
		background-position: 22px 0;
		cursor: default;
	}
	&.check_disabled.check_checked {
		background-color: @radioSkin1CheckedBgColor;
		background-position: -196px -11px;
		cursor: default;
	}
}
//==============================================