
//radio --  skin-4
//==============================================
//var
//==============================================
@radioSkin4Size: 26px;
//==============================================
.check_radio.check_skin-4 {
	position: relative;
	display: inline-block;
	width: @radioSkin4Size;
	height: @radioSkin4Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-image: url("../img/check-radio.png");
	background-position: -7px -174px;
	cursor: pointer;
	&.check_checked {
		background-position: -45px -174px;
	}
	&.check_disabled {
		background-position: -86px -174px;
		cursor: default;
	}
	&.check_disabled.check_checked {
		background-position: -123px -175px;
		cursor: default;
	}
}
//==============================================