
//radio --  skin-3
//==============================================
//var
//==============================================
@radioSkin3BgColor: #fff;
@radioSkin3BdColor: darken(@radioSkin3BgColor,18.5%);
@radioSkin3CheckedBdColor: #7ebdcc;
@radioSkin3DisabledBdColor: darken(@radioSkin3BgColor,8%);

@radioSkin3Size: 18px;
//==============================================
.check_radio.check_skin-3 {
	position: relative;
	display: inline-block;
	width: @radioSkin3Size;
	height: @radioSkin3Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: @radioSkin3BgColor;
	background-image: url("../img/check-radio.png");
	background-position: 18px 0;
	border: 2px solid @radioSkin3BdColor;
	cursor: pointer;
	.border-radius (19px);
	&:hover {
		border-color: @radioSkin3CheckedBdColor;
	}
	&.check_checked {
		background-position: -90px -77px;
		border-color: @radioSkin3CheckedBdColor;
	}
	&.check_disabled {
		border-color: @radioSkin3DisabledBdColor;
		cursor: default;
	}
	&.check_disabled.check_checked {
		background-position: -118px -76px;
		border-color: @radioSkin3DisabledBdColor;
		cursor: default;
	}
}
//==============================================