
//radio --  skin-5
//==============================================
//var
//==============================================
@radioSkin5BgColor: #fff;
@radioSkin5BgFirstColor: darken(@radioSkin5BgColor,33.5%);
@radioSkin5BgLastColor: darken(@radioSkin5BgColor,40%);
@radioSkin5BoxShadowColor: darken(@radioSkin5BgColor,100%);
@radioSkin5BoxShadowInsetColor: fade(@radioSkin5BoxShadowColor,30%);
@radioSkin5CheckedBgFirstColor: #eea629;
@radioSkin5CheckedBgLastColor: darken(@radioSkin5CheckedBgFirstColor,6.5%);
@radioSkin5CheckedBeforeBgColor: lighten(@radioSkin5BgColor,100%);
@radioSkin5CheckedBeforeBoxShadowColor: fade(@radioSkin5BoxShadowColor,20%);
@radioSkin5DisabledBgFirstColor: fade(@radioSkin5BgFirstColor,50%);
@radioSkin5DisabledBgLastColor: fade(@radioSkin5BgLastColor,50%);
@radioSkin5Disabled_CheckedBgFirstColor: @radioSkin5DisabledBgFirstColor;
@radioSkin5Disabled_CheckedBgLastColor: @radioSkin5DisabledBgLastColor;
@radioSkin5Disabled_CheckedBeforeBgColor: fade(@radioSkin5CheckedBeforeBgColor,50%);
@radioSkin5Disabled_CheckedBeforeBoxShadowColor: @radioSkin5CheckedBeforeBoxShadowColor;

@radioSkin5Size: 22px;
@radioSkin5Width: @radioSkin5Size;
@radioSkin5Height: @radioSkin5Size;
@radioSkin5BorderRadiusSize: @radioSkin5Size + 1;
@radioSkin5BeforeWidth: @radioSkin5Size * 0.364;
@radioSkin5BeforeHeight: @radioSkin5Size * 0.364;
@radioSkin5BeforeMarginTop: @radioSkin5BeforeHeight * (-0.5);
@radioSkin5BeforeMarginLeft: @radioSkin5BeforeWidth * (-0.5);
@radioSkin5BeforeBorderRadiusSize: @radioSkin5BeforeWidth + 1;
//==============================================
.check-box.type-radio.skin-5 {
	position: relative;
	display: inline-block;
	width: @radioSkin5Width;
	height: @radioSkin5Height;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: @radioSkin5BgColor;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	.background-vertical (@radioSkin5BgFirstColor,@radioSkin5BgLastColor);
	.box-shadow-inset (0,1px,3px,0,@radioSkin5BoxShadowInsetColor);
	.border-radius (@radioSkin5BorderRadiusSize);
	cursor: pointer;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-block;
		content: '';
		width: @radioSkin5BeforeWidth;
		height: @radioSkin5BeforeHeight;
		margin-top: @radioSkin5BeforeMarginTop;
		margin-left: @radioSkin5BeforeMarginLeft;
		background-color: transparent;
		.border-radius (@radioSkin5BeforeBorderRadiusSize);
	}
	&.check-checked {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlYTYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		.background-vertical (@radioSkin5CheckedBgFirstColor,@radioSkin5CheckedBgLastColor);
		&:before {
			background-color: @radioSkin5CheckedBeforeBgColor;
			.box-shadow (0,1px,2px,0,@radioSkin5CheckedBeforeBoxShadowColor);
		}
	}
	&.check-disabled {
		cursor: default;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		.background-vertical (@radioSkin5DisabledBgFirstColor,@radioSkin5DisabledBgLastColor);
		.box-shadow-none;
	}
	&.check-disabled.check-checked {
		cursor: default;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		.background-vertical (@radioSkin5Disabled_CheckedBgFirstColor,@radioSkin5Disabled_CheckedBgLastColor);
		.box-shadow-none;
		&:before {
			background-color: @radioSkin5Disabled_CheckedBeforeBgColor;
			.box-shadow (0,1px,2px,0,@radioSkin5Disabled_CheckedBeforeBoxShadowColor);
		}
	}
}
//==============================================