
//radio --  skin-4
//==============================================
//var
//==============================================
@radioSkin4Size: 26px;
//==============================================
.asCheck_radio.asCheck_skin-4 {
	position: relative;
	display: inline-block;
	width: @radioSkin4Size;
	height: @radioSkin4Size;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-image: url("../img/check-radio.png");
	background-position: -7px -174px;
	cursor: pointer;
	&.asCheck_checked {
		background-position: -45px -174px;
	}
	&.asCheck_disabled {
		background-position: -86px -174px;
		cursor: default;
	}
	&.asCheck_disabled.asCheck_checked {
		background-position: -123px -175px;
		cursor: default;
	}
}
//==============================================