.check-box.type-checkbox.skin-1 {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #dddddd;
}

.check-box.type-checkbox.skin-1:before {
  position: absolute;
  bottom: 18%;
  left: 23%;
  display: inline-block;
  width: 2.992px;
  height: 8.008px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-1:after {
  position: absolute;
  bottom: 39%;
  left: 27%;
  display: inline-block;
  width: 13.992px;
  height: 2.992px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-1:hover:before {
  background-color: #ffffff;
}

.check-box.type-checkbox.skin-1:hover:after {
  background-color: #ffffff;
}

.check-box.type-checkbox.skin-1.check-checked {
  background-color: #27acd8;
}

.check-box.type-checkbox.skin-1.check-checked:before {
  background-color: #ffffff;
}

.check-box.type-checkbox.skin-1.check-checked:after {
  background-color: #ffffff;
}

.check-box.type-checkbox.skin-1.check-disabled {
  cursor: default;
  background-color: #eeeeee;
}

.check-box.type-checkbox.skin-1.check-disabled:before {
  background-color: transparent;
}

.check-box.type-checkbox.skin-1.check-disabled:after {
  background-color: transparent;
}

.check-box.type-checkbox.skin-1.check-disabled.check-checked {
  cursor: default;
  background-color: #eeeeee;
}

.check-box.type-checkbox.skin-1.check-disabled.check-checked:before {
  background-color: rgba(255, 255, 255, 0.5);
}

.check-box.type-checkbox.skin-1.check-disabled.check-checked:after {
  background-color: rgba(255, 255, 255, 0.5);
}

.check-box.type-radio.skin-1 {
  display: inline-block;
  width: 8px;
  height: 8px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #dddddd;
  border: 7px solid #dddddd;
  -webkit-border-radius: 22px;
     -moz-border-radius: 22px;
          border-radius: 22px;
  -ms-transform: 22px;
   -o-transform: 22px;
}

.check-box.type-radio.skin-1:hover {
  background-color: #ffffff;
}

.check-box.type-radio.skin-1.check-checked {
  background-color: #ffffff;
  border-color: #27acd8;
}

.check-box.type-radio.skin-1.check-disabled {
  cursor: default;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.check-box.type-radio.skin-1.check-disabled.check-checked {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #eeeeee;
}

.check-box.type-checkbox.skin-2 {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -ms-transform: 3px;
  -ms-transform: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
   -o-transform: 3px;
   -o-transform: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.check-box.type-checkbox.skin-2:before {
  position: absolute;
  bottom: 0;
  left: 14%;
  display: inline-block;
  width: 2.996px;
  height: 7px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-2:after {
  position: absolute;
  bottom: 14%;
  left: 18%;
  border-top: 5.012px solid transparent;
  border-right: 17.01px inset transparent;
  border-bottom: 3.01px solid transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-2:hover {
  border-color: #7ebfee;
}

.check-box.type-checkbox.skin-2.check-checked {
  -ms-transform: 1px 1px 0 0 #ffffff;
   -o-transform: 1px 1px 0 0 #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 #ffffff;
     -moz-box-shadow: 1px 1px 0 0 #ffffff;
          box-shadow: 1px 1px 0 0 #ffffff;
}

.check-box.type-checkbox.skin-2.check-checked:before {
  background-color: #000000;
}

.check-box.type-checkbox.skin-2.check-checked:after {
  border-top-color: #575c60;
}

.check-box.type-checkbox.skin-2.check-checked:hover {
  border-color: #d9d9d9;
}

.check-box.type-checkbox.skin-2.check-disabled {
  cursor: default;
  background-color: #f6f6f6;
  border-color: #ebebeb;
  -ms-transform: 1px 1px 0 0 #ffffff;
   -o-transform: 1px 1px 0 0 #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 #ffffff;
     -moz-box-shadow: 1px 1px 0 0 #ffffff;
          box-shadow: 1px 1px 0 0 #ffffff;
}

.check-box.type-checkbox.skin-2.check-disabled.check-checked {
  cursor: default;
  background-color: #f6f6f6;
  border-color: #ebebeb;
  -ms-transform: 1px 1px 0 0 #ffffff;
   -o-transform: 1px 1px 0 0 #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 #ffffff;
     -moz-box-shadow: 1px 1px 0 0 #ffffff;
          box-shadow: 1px 1px 0 0 #ffffff;
}

.check-box.type-checkbox.skin-2.check-disabled.check-checked:before {
  background-color: #d9d9d9;
}

.check-box.type-checkbox.skin-2.check-disabled.check-checked:after {
  border-top-color: #d9d9d9;
}

.check-box.type-radio.skin-2 {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  -ms-transform: 15px;
  -ms-transform: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
   -o-transform: 15px;
   -o-transform: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.check-box.type-radio.skin-2:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 6.006px;
  height: 6.006px;
  margin-top: -3.003px;
  margin-left: -3.003px;
  background-color: transparent;
  -webkit-border-radius: 7.006px;
     -moz-border-radius: 7.006px;
          border-radius: 7.006px;
  content: '';
  -ms-transform: 7.006px;
   -o-transform: 7.006px;
}

.check-box.type-radio.skin-2:hover {
  border-color: #7ebfee;
}

.check-box.type-radio.skin-2.check-checked {
  -ms-transform: 1px 1px 0 0 #ffffff;
   -o-transform: 1px 1px 0 0 #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 #ffffff;
     -moz-box-shadow: 1px 1px 0 0 #ffffff;
          box-shadow: 1px 1px 0 0 #ffffff;
}

.check-box.type-radio.skin-2.check-checked:before {
  background-color: #575c60;
}

.check-box.type-radio.skin-2.check-checked:hover {
  border-color: #d9d9d9;
}

.check-box.type-radio.skin-2.check-disabled {
  cursor: default;
  background-color: #f6f6f6;
  border-color: #ebebeb;
  -ms-transform: 1px 1px 0 0 #ffffff;
   -o-transform: 1px 1px 0 0 #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 #ffffff;
     -moz-box-shadow: 1px 1px 0 0 #ffffff;
          box-shadow: 1px 1px 0 0 #ffffff;
}

.check-box.type-radio.skin-2.check-disabled.check-checked {
  cursor: default;
  background-color: #f6f6f6;
  border-color: #ebebeb;
  -ms-transform: 1px 1px 0 0 #ffffff;
   -o-transform: 1px 1px 0 0 #ffffff;
  -webkit-box-shadow: 1px 1px 0 0 #ffffff;
     -moz-box-shadow: 1px 1px 0 0 #ffffff;
          box-shadow: 1px 1px 0 0 #ffffff;
}

.check-box.type-radio.skin-2.check-disabled.check-checked:before {
  background-color: rgba(87, 92, 96, 0.3);
}

.check-box.type-checkbox.skin-3 {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #d0d0d0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -ms-transform: 3px;
   -o-transform: 3px;
}

.check-box.type-checkbox.skin-3:before {
  position: absolute;
  bottom: 15%;
  left: 19%;
  display: inline-block;
  width: 2.988px;
  height: 6.552px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-3:after {
  position: absolute;
  bottom: 39%;
  left: 23%;
  display: inline-block;
  width: 13.248px;
  height: 2.4480000000000004px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-3:hover {
  border-color: #7ebdcc;
}

.check-box.type-checkbox.skin-3.check-checked {
  border-color: #7ebdcc;
}

.check-box.type-checkbox.skin-3.check-checked:before {
  background-color: #7ebdcc;
}

.check-box.type-checkbox.skin-3.check-checked:after {
  background-color: #7ebdcc;
}

.check-box.type-checkbox.skin-3.check-disabled {
  cursor: default;
  border-color: #ebebeb;
}

.check-box.type-checkbox.skin-3.check-disabled.check-checked {
  cursor: default;
  border-color: #ebebeb;
}

.check-box.type-checkbox.skin-3.check-disabled.check-checked:before {
  background-color: #ebebeb;
}

.check-box.type-checkbox.skin-3.check-disabled.check-checked:after {
  background-color: #ebebeb;
}

.check-box.type-radio.skin-3 {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #d0d0d0;
  -webkit-border-radius: 19px;
     -moz-border-radius: 19px;
          border-radius: 19px;
  -ms-transform: 19px;
   -o-transform: 19px;
}

.check-box.type-radio.skin-3:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 8.01px;
  height: 8.01px;
  margin-top: -4.005px;
  margin-left: -4.005px;
  background-color: transparent;
  -webkit-border-radius: 9.01px;
     -moz-border-radius: 9.01px;
          border-radius: 9.01px;
  content: '';
  -ms-transform: 9.01px;
   -o-transform: 9.01px;
}

.check-box.type-radio.skin-3:hover {
  border-color: #7ebdcc;
}

.check-box.type-radio.skin-3.check-checked {
  border-color: #7ebdcc;
}

.check-box.type-radio.skin-3.check-checked:before {
  background-color: #7ebdcc;
}

.check-box.type-radio.skin-3.check-disabled {
  cursor: default;
  border-color: #ebebeb;
}

.check-box.type-radio.skin-3.check-disabled.check-checked {
  cursor: default;
  border-color: #ebebeb;
}

.check-box.type-radio.skin-3.check-disabled.check-checked:before {
  background-color: #ebebeb;
}

.check-box.type-checkbox.skin-4 {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  background-color: #000000;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -ms-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #2e2e2e 0%, #222222 100%);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -ms-transform: 5px;
  -ms-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
   -o-transform: 5px;
   -o-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
}

.check-box.type-checkbox.skin-4:before {
  position: absolute;
  bottom: 8%;
  left: 25%;
  display: inline-block;
  width: 3px;
  height: 10.008px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-4:after {
  position: absolute;
  bottom: 29%;
  left: 29%;
  border-top: 4.992px solid transparent;
  border-right: 22.008000000000003px inset transparent;
  border-bottom: 3px solid transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-4.check-checked:before {
  background-color: #bce841;
  -ms-transform: 4px 1px 12px 2px #bce841;
   -o-transform: 4px 1px 12px 2px #bce841;
  -webkit-box-shadow: 4px 1px 12px 2px #bce841;
     -moz-box-shadow: 4px 1px 12px 2px #bce841;
          box-shadow: 4px 1px 12px 2px #bce841;
}

.check-box.type-checkbox.skin-4.check-checked:after {
  border-top-color: #bce841;
}

.check-box.type-checkbox.skin-4.check-disabled {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -ms-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
  -ms-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
   -o-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.check-box.type-checkbox.skin-4.check-disabled.check-checked {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -ms-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
  -ms-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
   -o-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.check-box.type-checkbox.skin-4.check-disabled.check-checked:before {
  background-color: #555555;
  -ms-transform: 4px 1px 12px 2px rgba(255, 255, 255, 0.25);
   -o-transform: 4px 1px 12px 2px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 4px 1px 12px 2px rgba(255, 255, 255, 0.25);
     -moz-box-shadow: 4px 1px 12px 2px rgba(255, 255, 255, 0.25);
          box-shadow: 4px 1px 12px 2px rgba(255, 255, 255, 0.25);
}

.check-box.type-checkbox.skin-4.check-disabled.check-checked:after {
  border-top-color: #555555;
}

.check-box.type-radio.skin-4 {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  background-color: #000000;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIyMjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -ms-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #2e2e2e 0%, #222222 100%);
  -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
          border-radius: 25px;
  -ms-transform: 25px;
  -ms-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
   -o-transform: 25px;
   -o-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), inset 3px 3px 6px 0 rgba(0, 0, 0, 0.4);
}

.check-box.type-radio.skin-4:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 10.008px;
  height: 10.008px;
  margin-top: -5.004px;
  margin-left: -5.004px;
  background-color: transparent;
  -webkit-border-radius: 11.008px;
     -moz-border-radius: 11.008px;
          border-radius: 11.008px;
  content: '';
  -ms-transform: 11.008px;
   -o-transform: 11.008px;
}

.check-box.type-radio.skin-4:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 10.008px;
  height: 10.008px;
  margin-top: -5.004px;
  margin-left: -5.004px;
  background-color: transparent;
  -webkit-border-radius: 11.008px;
     -moz-border-radius: 11.008px;
          border-radius: 11.008px;
  content: '';
  -ms-transform: 11.008px;
   -o-transform: 11.008px;
}

.check-box.type-radio.skin-4.check-checked:before {
  -ms-transform: 0 0 8px 1px #bce841;
   -o-transform: 0 0 8px 1px #bce841;
  -webkit-box-shadow: 0 0 8px 1px #bce841;
     -moz-box-shadow: 0 0 8px 1px #bce841;
          box-shadow: 0 0 8px 1px #bce841;
}

.check-box.type-radio.skin-4.check-checked:after {
  background-color: #bce841;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNiY2U4NDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOGZiYzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, #bce841 30%, #8fbb17 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #bce841), color-stop(100%, #8fbb17));
  background-image: -webkit-linear-gradient(top, #bce841 30%, #8fbb17 100%);
  background-image: -o-linear-gradient(top, #bce841 30%, #8fbb17 100%);
  background-image: -ms-linear-gradient(top, #bce841 30%, #8fbb17 100%);
  background-image: linear-gradient(to bottom, #bce841 30%, #8fbb17 100%);
  -ms-transform: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
   -o-transform: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.8);
}

.check-box.type-radio.skin-4.check-disabled {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -ms-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
  -ms-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
   -o-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.check-box.type-radio.skin-4.check-disabled.check-checked {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444444), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -o-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: -ms-linear-gradient(top, #444444 0%, #333333 100%);
  background-image: linear-gradient(to bottom, #444444 0%, #333333 100%);
  -ms-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
   -o-transform: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.check-box.type-radio.skin-4.check-disabled.check-checked:before {
  -ms-transform: 0 0 8px 1px rgba(255, 255, 255, 0.25);
   -o-transform: 0 0 8px 1px rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.25);
     -moz-box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.25);
          box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.25);
}

.check-box.type-radio.skin-4.check-disabled.check-checked:after {
  background-color: #bce841;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzc3Nzc3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, #999999 30%, #777777 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #999999), color-stop(100%, #777777));
  background-image: -webkit-linear-gradient(top, #999999 30%, #777777 100%);
  background-image: -o-linear-gradient(top, #999999 30%, #777777 100%);
  background-image: -ms-linear-gradient(top, #999999 30%, #777777 100%);
  background-image: linear-gradient(to bottom, #999999 30%, #777777 100%);
  -ms-transform: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
   -o-transform: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.check-box.type-checkbox.skin-5 {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: linear-gradient(to bottom, #aaaaaa 0%, #999999 100%);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -ms-transform: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
  -ms-transform: 5px;
   -o-transform: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
   -o-transform: 5px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
}

.check-box.type-checkbox.skin-5:before {
  position: absolute;
  bottom: 18%;
  left: 23%;
  display: inline-block;
  width: 2.992px;
  height: 8.008px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-5:after {
  position: absolute;
  bottom: 39%;
  left: 27%;
  display: inline-block;
  width: 13.992px;
  height: 2.992px;
  background-color: transparent;
  content: '';
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-box.type-checkbox.skin-5.check-checked {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlYTYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eea629), color-stop(100%, #e49712));
  background-image: -webkit-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: -o-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: -ms-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: linear-gradient(to bottom, #eea629 0%, #e49712 100%);
}

.check-box.type-checkbox.skin-5.check-checked:before {
  background-color: #ffffff;
}

.check-box.type-checkbox.skin-5.check-checked:after {
  background-color: #ffffff;
}

.check-box.type-checkbox.skin-5.check-disabled {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(170, 170, 170, 0.5)), color-stop(100%, rgba(153, 153, 153, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  -ms-transform: none;
   -o-transform: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.check-box.type-checkbox.skin-5.check-disabled.check-checked {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(170, 170, 170, 0.5)), color-stop(100%, rgba(153, 153, 153, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  -ms-transform: none;
   -o-transform: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.check-box.type-checkbox.skin-5.check-disabled.check-checked:before {
  background-color: rgba(255, 255, 255, 0.5);
}

.check-box.type-checkbox.skin-5.check-disabled.check-checked:after {
  background-color: rgba(255, 255, 255, 0.5);
}

.check-box.type-radio.skin-5 {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #ffffff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aaaaaa), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #999999 100%);
  background-image: linear-gradient(to bottom, #aaaaaa 0%, #999999 100%);
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  -ms-transform: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
  -ms-transform: 23px;
   -o-transform: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
   -o-transform: 23px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset;
}

.check-box.type-radio.skin-5:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 8.008px;
  height: 8.008px;
  margin-top: -4.004px;
  margin-left: -4.004px;
  background-color: transparent;
  -webkit-border-radius: 9.008px;
     -moz-border-radius: 9.008px;
          border-radius: 9.008px;
  content: '';
  -ms-transform: 9.008px;
   -o-transform: 9.008px;
}

.check-box.type-radio.skin-5.check-checked {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlYTYyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDlkMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eea629), color-stop(100%, #e49712));
  background-image: -webkit-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: -o-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: -ms-linear-gradient(top, #eea629 0%, #e49712 100%);
  background-image: linear-gradient(to bottom, #eea629 0%, #e49712 100%);
}

.check-box.type-radio.skin-5.check-checked:before {
  background-color: #ffffff;
  -ms-transform: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
   -o-transform: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.check-box.type-radio.skin-5.check-disabled {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(170, 170, 170, 0.5)), color-stop(100%, rgba(153, 153, 153, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  -ms-transform: none;
   -o-transform: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.check-box.type-radio.skin-5.check-disabled.check-checked {
  cursor: default;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(170, 170, 170, 0.5)), color-stop(100%, rgba(153, 153, 153, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(170, 170, 170, 0.5) 0, rgba(153, 153, 153, 0.5) 100%);
  -ms-transform: none;
   -o-transform: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.check-box.type-radio.skin-5.check-disabled.check-checked:before {
  background-color: rgba(255, 255, 255, 0.5);
  -ms-transform: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
   -o-transform: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}