.check-checked {
  background-color: red;
}

.check-disabled {
  background-color: #555;
  border: 1px solid #333;
}

.check-box {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #000;
}

label {
  display: inline-block;
}